# ----- LangChain and LangGraph -----
langchain
langchain-openai
langchain-pinecone # Online free VectorStore
langchain-community
langgraph
langchainhub

# Other stuff
python-dotenv
black

# PDF handling
pypdf # ingest PDFs
faiss-cpu # only need CPU, creates local vector store

# For AI assistant project in section 3_NewAssistant
beautifulsoup4
black
tiktoken
openai
unstructured
nltk
fastapi
jinja2
uvicorn
tqdm
isort
langchainhub
firecrawl-py
langchain
langchain-openai
langchain-community
langsmith
pinecone
langchain-pinecone
pillow
langsmith

# Unique ID
uuid

# Needed to fix bugs like clearing entire VecStore
google.api
gcloud
google-api-python-client
protoc-gen-openapiv2
grpcio
grpcio-tools

# For Streamlit:
streamlit
streamlit-chat
watchdog

# FireCrawler
firecrawl-py
callbacks
firecrawl